html,
body,
#root {
  height: 100vh;
  margin: 0;
}

@font-face {
  font-family: "Raleway";
  src: url("/assets/fonts/raleway-light.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
